<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <script async src="./js/index.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="header-nav">
          <ul>
            <li>
              <a href="#">
                <img src="/images/icon-home.svg" alt="Home" />
                Home
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/images/icon-leads.svg" alt="Leads" />
                Leads
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="main-stats">
        <div class="container">
          <div class="stat-inner">
            <div class="overall-leads">
              <h5>Total Leads: 0/395</h5>
              <div class="bar">
                <div class="progress-bar">
                  <div class="progress"></div>
                </div>
                <span>0,00%</span>
              </div>
            </div>
            <div class="add-state">
              <h5>Create new state</h5>
              <form action="/" method="post">
                <div id="loader">Loading...</div>
                <input
                  required
                  type="number"
                  name="zip"
                  placeholder="State Zip"
                />
                <button type="submit">Add State</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="states">
        <div class="container">
          <div class="settings">
            <button type="button" class="details" onclick="toggleDetails()">
              <img src="./images/icon-details.svg" alt="Show details" />
              Detailed
            </button>
            <button type="button" class="update" onclick="renderCurrentState()">
              <img src="./images/icon-update.svg" alt="Show details" />
            </button>
          </div>
          <div class="states-cards-inner"></div>
        </div>
      </section>
    </main>
  </body>
</html>
